:root {
  --bg-body: #f2f4f8;
  --title-color: #191b23;
  --text-color: #3c404f;
  --btn_bg: #fff;
}
.dark-theme {
  --bg-body: #1e1f26;
  --title-color: #f0f0f0;
  --text-color: #b0b3c0;
  --btn_bg: #2c2f38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 32px;
  background-color: var(--bg-body);
  color: var(--text-color);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.title {
  color: var(--title-color);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}
.add_btn {
  background: #8b90ff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.add_btn:hover {
  background: #7a7fff;
}
.theme_btn {
  background: var(--btn_bg);
  border: 1px solid #fff;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 16px;
  font-size: 16px;
}
.theme_btn:hover {
  background: #8b90ff;
}
.note_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}
.note_state {
  text-align: center;
  padding: 64px 32px;
}
.note_state h2 {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 600;
}
.note_state p {
  font-size: 16px;
  margin-bottom: 32px;
}
.icon-dark {
  display: none;
}

dialog {
  /* display: block; */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  max-width: 500px;
  width: 90vw;
  border: none;
  border-radius: 16px;
  background: #fff;
}

.dialog_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.dialog_header div {
  font-size: 1.5rem;
  font-weight: 600;
}

.close_btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

dialog label {
  margin-bottom: 8px;
  display: block;
}

.dialog_body {
  margin-bottom: 24px;
}

.dialog_input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dialog_input input,
.dialog_input textarea {
  background-color: #f2f4f8;
  width: 100%;
  padding: 0.75rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
}

.dialog_footer {
  display: flex;
  justify-content: end;
  gap: 16px;
}

.dialog_footer button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.cancel_btn {
  color: #191b23;
  background: #e5e7eb;
}

.save_btn {
  color: white;
  background-color: #8b90ff;
}
.note_card {
  background: var(--btn_bg);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  justify-content: space-between;
}
.note_card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
  transition: transform 0.2s;
}
.note_actions {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: start;
}
